### IoT 사물인터넷 with 라즈베리파이

1. 키보드로 세 정수를 입력받아, 큰 수부터 출력하시오. 입력받은 수에 중복은 없다고 가정한다.

In [124]:
a = int(input('정수 입력 : '))
b = int(input('정수 입력 : '))
c = int(input('정수 입력 : '))
maxInt = 0
midInt = 0
minInt = 0

if a > b and a > c and b > c :
  maxInt = a
  midInt = b
  minInt = c
elif a > b and a > c and c > b :
  maxInt = a
  midInt = c
  minInt = b
elif b > a and b > c and a > c :
  maxInt = b
  midInt = a
  minInt = c
elif b > a and b > c and c > a :
  maxInt = b
  midInt = c
  minInt = a
elif c > a and c > b and a > b :
  maxInt = c
  midInt = a
  minInt = b
elif c > a and c > b and b > a :
  maxInt = c
  midInt = b
  minInt = a    
print(maxInt,midInt,minInt)

1000 10 2

2. 매개변수로 전달되는 수의 구구단을 출력하는 함수를 선언하시오.

In [125]:
def gugudan(num1) : 
  for e in range(1,10) :
    result=(f'{num1} * {e} = {num1*e}')
    print(result)

gugudan(7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

3. 1부터 20까지의 숫자 중에서 홀수만 리스트에 저장하고 출력하는 코드를 작성하시오.

In [126]:
oddList = []
for e in range(1,21) :
  if e % 2 == 1 :
    oddList.append(e)
print(oddList)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

4. 다음 리스트에 저장된 모든 연락처의 중간 네자리 숫자의 합을 구하여 출력하시오.

In [127]:
phoneNumbers = [
  '010-1000-2222',
  '010-2000-3333',
  '010-5000-4444'
]

newSumList = []
for e in phoneNumbers :
  newSumList.append(int(e[4:8]))
print(sum(newSumList))

8000

5. 아래 딕셔너리 데이터를 참고하여, 모든 학생의 평균 점수를 구하는 코드를 작성하시오.

In [128]:
students = {
  "김철수": 85, 
  "이영희": 92, 
  "박민수": 78
}

totalScore = students["김철수"]+students["이영희"]+students["박민수"]
stuLength = len(students)
print(f'모든 학생의 평균 점수는 {totalScore/stuLength}점 입니다')

모든 학생의 평균 점수는 85.0점 입니다

다음 상품 정보 데이터를 참고하여 문제를 푸시오.

In [129]:
products = [
    {"이름": "노트북", "가격": 50000},
    {"이름": "마우스", "가격": 8000},
    {"이름": "키보드", "가격": 15000},
    {"이름": "모니터", "가격": 30000},
    {"이름": "USB", "가격": 5000}
]

6. 위 products 데이터에 키보드로 입력한 이름과 가격을 갖는 상품을 추가하는 코드를 작성하시오.

In [130]:
dic1 = {"이름": input('이름 입력 : '), "가격" : int(input('가격 입력 : '))}
products.append(dic1)

print(products)

[{'이름': '노트북', '가격': 50000}, {'이름': '마우스', '가격': 8000}, {'이름': '키보드', '가격': 15000}, {'이름': '모니터', '가격': 30000}, {'이름': 'USB', '가격': 5000}, {'이름': '컴퓨터', '가격': 20000}]

7. 가격이 10000원 이상인 상품들만 필터링하여 새로운 리스트로 만드는 코드를 작성하시오.

In [131]:
newList = []
for e in products :
  if e["가격"] >= 10000 :
    newList.append(e)
print(newList)

[{'이름': '노트북', '가격': 50000}, {'이름': '키보드', '가격': 15000}, {'이름': '모니터', '가격': 30000}, {'이름': '컴퓨터', '가격': 20000}]

8. 키보드로 입력한 이름을 갖는 상품을 products 데이터에서 삭제하는 코드를 작성하시오.

In [132]:
#키보드 입력
productName = input('삭제할 상품의 이름')

#producks 리스트에 저장된 데이터의 수만큼 반복
for i, e in enumerate(products) :
  if e['이름'] == productName :
    del products[i]
print(products)

[{'이름': '노트북', '가격': 50000}, {'이름': '마우스', '가격': 8000}, {'이름': '키보드', '가격': 15000}, {'이름': 'USB', '가격': 5000}, {'이름': '컴퓨터', '가격': 20000}]