# Pandas 활용 데이터 분석

1. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오. 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.

In [109]:
#1번 문제 풀이 작성
result = []
for e in range(0,3) : 
  e = int(input(f'{e+1}번째 숫자 입력 : '))
  result.append(e)
print(result)  
print(max(result)-min(result))

[5, 10, 15]
10

2. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 저장된 모든 데이터의 합을 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,2,3] , [4,5,6] / 결과 : 21

In [111]:
#2번 문제 풀이 작성
def getSumList(list1, list2) :
  newList = list1+list2
  return(sum(newList))
print(getSumList([1,2,3],[4,5,6]))

21

3. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 중복으로 저장된 데이터만을 갖는  새로운 리스트를 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,3,5,7,9] , [1,2,3,4,5] / 결과 : [1,3,5]

In [112]:
#3번 문제 풀이 작성
def newList(list1, list2) : 
  set1 = set(list1)
  set2 = set(list2)
  newListData = set1.intersection(set2)
  result = list(newListData)
  return(result)
print(newList([1,3,5,7,9],[1,2,3,4,5]))

[1, 3, 5]

4. 이름, 나이, 국어점수, 영어점수, 수학점수를 데이터로 갖는 student 딕셔너리를 만드시오. 각 데이터는 키보드로 입력받아 저장하시오.

In [113]:
#4번 문제 풀이 작성
student = {
  '이름' : '',
  '나이' : '',
  '국어점수' : '',
  '영어점수' : '',
  '수학점수' : ''
}

student['이름'] = input('이름 입력 : ')
student['나이'] = int(input('나이 입력 : '))
student['국어점수'] = int(input('국어점수 입력 : '))
student['영어점수'] = int(input('영어점수 입력 : '))
student['수학점수'] = int(input('수학점수 입력 : '))

print(student)

{'이름': '김자바', '나이': 30, '국어점수': 70, '영어점수': 85, '수학점수': 80}

5. 4번 문제에서 만든 딕셔너리 데이터에 총점 데이터를 추가하시오. 총점 데이터는 국어,영어, 수학점수의 합으로 들어가야합니다.

In [114]:
#5번 문제 풀이 작성
student['총점'] = student['국어점수'] + student['영어점수'] + student['수학점수']

print(student)

{'이름': '김자바', '나이': 30, '국어점수': 70, '영어점수': 85, '수학점수': 80, '총점': 235}

6. 아래 딕셔너리 데이터에 stu_grade라는 키를 추가하고, 해당 키의  데이터로  점수(stu_score)에 따른 등급 데이터를 저장하시오.  
90 <= 점수      : A등급  
80 <= 점수 < 90 : B등급  
70 <= 점수 < 80 : C등급  
      점수 < 70 : D등급

In [115]:
class_room_data = {
    'stu_no' : [1, 2, 3, 4, 5],
    'stu_name' : ['김자바', '이자바', '박자바', '최자바', '정자바'],
    'stu_score' : [85, 65, 70, 80, 95]
}

#6번 문제 풀이 작성
class_room_data['stu_grade'] = []

for e in class_room_data['stu_score'] : 
  if e >= 90 :
    class_room_data['stu_grade'].append('A등급')
  elif e >= 80 :
    class_room_data['stu_grade'].append('B등급')
  elif e >= 70 :
    class_room_data['stu_grade'].append('C등급')
  else : 
    class_room_data['stu_grade'].append('D등급')

print(class_room_data)

{'stu_no': [1, 2, 3, 4, 5], 'stu_name': ['김자바', '이자바', '박자바', '최자바', '정자바'], 'stu_score': [85, 65, 70, 80, 95], 'stu_grade': ['B등급', 'D등급', 'C등급', 'B등급', 'A등급']}

7. 아래 데이터는 자바반과 자반에 소속된 학생들의 정보이다.  
나이가 30살 이상인 학생들의 점수의 합을 출력하세요.

In [118]:
javaClass= {
  'calssName' : '자바반',
  'teacher' : '김자바',
  'studentList' : [
    {'name' : '홍길동', 'age': 31, 'score' : 85},
    {'name' : '이순신', 'age': 35, 'score' : 95},
    {'name' : '유관순', 'age': 29, 'score' : 80},
    {'name' : '장영실', 'age': 37, 'score' : 70},
    {'name' : '신사임당', 'age': 25, 'score' : 65},
  ]
}

# 7번 문제 답안 작성
result = []
for e in javaClass['studentList'] :
  if e['age'] >= 30 :
    result.append(e['score'])
print(result)
print(f'나이가 30살 이상인 학생들의 점수의 합은 {sum(result)}점')

[85, 95, 70]
나이가 30살 이상인 학생들의 점수의 합은 250점

다음 딕셔너리 데이터를 참고하여 아래 문제들을 해결하시오.

In [127]:
# 2012년 광역시별 25세 미만 연령별 인구 데이터
population = {
    '행정기관' : ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
    '0~4세' : [214651, 68006, 53515, 69453, 29835],
    '5~9세' : [210833, 68704, 58332, 68555, 29331],
    '10~14세' : [269171, 94802, 91268, 86574, 29035],
    '15~19세' : [335828, 124564, 101110, 106435, 49119],
    '20~24세' : [343797, 125907, 96078, 102297, 43937]
}

8. 2012년 기준 대한민국에서 25세 미만의 인구수 중 인구가 가장 많은 연령대를 출력하시오.

In [128]:
# 8번 문제 답안 작성
organ = ''
maxSum = 0
for e in population :
  if e != '행정기관' :
    result=sum(population[e])
    print(e, result)
    if result > maxSum :
      maxSum = result
      organ = e
      
print(f'인구가 가장 많은 연령대는 {organ}')

0~4세 435460
5~9세 435755
10~14세 570850
15~19세 717056
20~24세 712016
인구가 가장 많은 연령대는 15~19세

9. '총 인구수' 라는 키를 추가하고, 해당 키에 0세부터 24세까지의 인구 합을 데이터로 하여 population 데이터에 추가하시오.

In [129]:
# 9번 문제 답안 작성
newSumList = []
for e in population :
  if e != '행정기관' :
    result=sum(population[e])
    newSumList.append(result)
    
population['총 인구수'] = sum(newSumList)
print(population)

{'행정기관': ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'], '0~4세': [214651, 68006, 53515, 69453, 29835], '5~9세': [210833, 68704, 58332, 68555, 29331], '10~14세': [269171, 94802, 91268, 86574, 29035], '15~19세': [335828, 124564, 101110, 106435, 49119], '20~24세': [343797, 125907, 96078, 102297, 43937], '총 인구수': 2871137}