### 판다스 활용 데이터 분석

1. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오. 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.

In [14]:
#1번 문제 풀이 작성
#max([1,5,3]) -> 5
#min([1.5,3]) -> 1
#변수명으로 int, list, max, min 사용 금지
result = []
for e in range(0,3) : 
  e = int(input(f'{e+1}번째 숫자 입력 : '))
  result.append(e)
print(result)  
print(max(result)-min(result))

[5, 90, 4]
86

2. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 저장된 모든 데이터의 합을 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,2,3] , [4,5,6] / 결과 : 21

In [ ]:
#2번 문제 풀이 작성
def getSumList(list1, list2) :
  newList = list1+list2
  return(sum(newList))
print(getSumList([1,2,3],[4,5,6]))

21

3. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 중복으로 저장된 데이터만을 갖는  새로운 리스트를 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,3,5,7,9] , [1,2,3,4,5] / 결과 : [1,3,5]

In [ ]:
#3번 문제 풀이 작성

4. 이름, 나이, 국어점수, 영어점수, 국어점수를 데이터로 갖는 student 딕셔너리를 만드시오. 각 데이터는 키보드로 입력받아 저장하시오.

In [5]:
#4번 문제 풀이 작성
student = {
  '이름' : '',
  '나이' : '',
  '국어점수' : '',
  '영어점수' : '',
  '수학점수' : ''
}

student['이름'] = input('이름 입력 : ')
student['나이'] = int(input('나이 입력 : '))
student['국어점수'] = int(input('국어점수 입력 : '))
student['영어점수'] = int(input('영어점수 입력 : '))
student['수학점수'] = int(input('수학점수 입력 : '))

print(student)

{'이름': '이자바', '나이': 30, '국어점수': 40, '영어점수': 60, '수학점수': 50}

5. 4번 문제에서 만든 딕셔너리 데이터에 총점 데이터를 추가하시오. 총점 데이터는 국어,영어, 수학점수의 합으로 들어가야합니다.

In [6]:
#5번 문제 풀이 작성
student['총점'] = student['국어점수'] + student['영어점수'] + student['수학점수']

print(student)

{'이름': '이자바', '나이': 30, '국어점수': 40, '영어점수': 60, '수학점수': 50, '총점': 150}

6. 아래 딕셔너리 데이터에 stu_grade라는 키를 추가하고, 해당 키의  데이터로  점수(stu_score)에 따른 등급 데이터를 저장하시오.  
90 <= 점수      : A등급  
80 <= 점수 < 90 : B등급  
70 <= 점수 < 80 : C등급  
      점수 < 70 : D등급

In [14]:
class_room_data = {
    'stu_no' : [1, 2, 3, 4, 5],
    'stu_name' : ['김자바', '이자바', '박자바', '최자바', '정자바'],
    'stu_score' : [85, 65, 70, 80, 95]
}

#6번 문제 풀이 작성
class_room_data['stu_grade'] = []

for e in class_room_data['stu_score'] : 
  if e >= 90 :
    class_room_data['stu_grade'].append('A등급')
  elif e >= 80 :
    class_room_data['stu_grade'].append('B등급')
  elif e >= 70 :
    class_room_data['stu_grade'].append('C등급')
  else : 
    class_room_data['stu_grade'].append('D등급')

print(class_room_data)

{'stu_no': [1, 2, 3, 4, 5], 'stu_name': ['김자바', '이자바', '박자바', '최자바', '정자바'], 'stu_score': [85, 65, 70, 80, 95], 'stu_grade': ['B등급', 'D등급', 'C등급', 'B등급', 'A등급']}